extends layout

block content
  h1 Magellan is now at Canary Islands, Spain
  img(src="http://worldleadingvacations.com/wp-content/uploads/2012/10/canaryislands02.jpg")
  a(href="/verde")
    button(type="button") Cape Verde
