extends layout

block content
  h1 Magellan is now at Seville, Spain
  img(src="http://upload.wikimedia.org/wikipedia/commons/f/f6/La_sevilla_del_sigloXVI.jpg")
  a(href="/canary")
    button(type="button") Canary Islands