extends layout

block content
  h1 Magellan is now at Strait of Magellan, Argentina
  img(src="http://4.bp.blogspot.com/_P1jwa_sdoSo/TT-yyxYzOwI/AAAAAAAAAEM/E5-lEN4G1aY/s1600/MagellanStrait.jpg")
  a(href="/guam")
    button(type="button") Guam