extends layout

block content
  h1 Magellan is now at Cape Verde
  img(src="http://cdnstatic-2.mydestination.com/capeverde/Pictures/HomePageGallery/20110411-195317.Full.jpg")
  a(href="/som")
    button(type="button") Strait of Magellan